/* ===== sectors ===== */

.sectors__container {
  display: flex;
  gap: 100px;
  margin-top: 115px;
  margin-bottom: 146px;
}
.sectors {
  max-width: 846px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.sectors__head-title {
  font-family: 'NeoGram Extended ExtraBold';
  font-size: 60px;
  line-height: 81.6px;
  margin-bottom: 40px;
}
.sectors__desc-list {
  font-family: 'NeoGram Condensed Regular';
  font-size: 20px;
  line-height: 25.44px;
}
.sectors__desc:not(:last-child) {
  padding-bottom: 44px;
}

/* ===== summary===== */

.summary {
  max-width: 495px;
  font-family: 'NeoGram Condensed Regular';
  font-size: 15px;
  line-height: 19px;
}
.summary__title {
  font-family: 'NeoGram Extended ExtraBold';
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27.2px;
  border-top: 2px solid #f3b932;
  border-bottom: 2px solid #f3b932;
  padding: 20px 0;
}
.summare__list {
  display: grid;
  margin-top: 22px;
  margin-bottom: 50px;
  gap: 10px;
}
.summary__item-key {
  grid-column-start: 1;
}
.summary__item-value {
  grid-column-start: 2;
  text-align: right;
}
.summary__item-key::after {
  content: ':';
}
.summary__desk {
  padding: 20px 0;
  border-bottom: 2px solid #f3b932;
}
.summary__nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.summary__link {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'NeoGram Condensed Regular';
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20.35px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
}
.summary__link:hover {
  color: #f3b932;
  border: 2px solid #f3b932;
  transition: 0.2s;
}
.faq__container {
  margin-bottom: 172px;
}
.collapsible {
  margin-bottom: 47px;
  padding-bottom: 12px;
  width: 100%;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 4px solid #fff;
  outline: none;

  font-family: 'NeoGram Extended ExtraBold';
  text-align: left;
  color: #fff;
  font-size: 20px;
  line-height: 27.2px;
}
.collapsible-active,
.collapsible:hover {
  background-color: transparent;
  color: #f3b932;
}
.collapsible::after {
  content: url('../../../public/images/mark-down.svg');
  position: relative;
  float: right;
  margin-left: 5px;
  margin-right: 4px;
}

.collapsible-active::after {
  content: url('../../../public/images/line.svg');
}

.content {
  max-height: 0;
  overflow: hidden;
  font-family: 'NeoGram Condensed Regular';
  font-size: 20px;
  line-height: 25.44px;
  transition: max-height 0.2s ease-out;
}

.content p {
  margin-bottom: 47px;
}

/* ===== Media ===== */

@media (max-width: 1439.98px) {
  .sectors__container {
    gap: 50px;
  }
}

/* PC */
@media (max-width: 1114.98px) {
}

/* TABLET */
@media (max-width: 991.98px) {
  .sectors__container {
    flex-direction: column;
    gap: 100px;
    margin-top: 64px;
    margin-bottom: 146px;
  }
  .summary {
    max-width: 100%;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  .sectors__container {
    gap: 50px;
    margin-bottom: 80px;
  }
  .sectors__head-title {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 40px;
  }
  .sectors__desc-list {
    font-size: 18px;
    line-height: 23px;
  }

  .summary__title {
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0;
  }
  .summary__nav {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  .summary__link {
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 19px;
  }
  .faq__container {
    margin-bottom: 125px;
  }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
}
