.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 158px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  width: 540px;
}
.header__list-item {
  font-family: 'IBM Plex Mono';
  text-transform: uppercase;
  position: relative;
}
.header__list-item-arrow {
  display: flex;
  justify-content: center;
}
.header__link {
  font-size: 20px;
  line-height: 1.25;
  color: #f6f6f6;
}
.header__list-item:hover .header__link {
  color: #f3b932;
}
.header__link-arrow {
  display: block;
  margin: 0 0 0 12px;
  z-index: 5;
}
.menu__options-fund,
.menu__options-about,
.header__link-arrow-up {
  display: none;
  transition: 0.5s;
}
li:hover .menu__options {
  display: block;
  transition: 0.5s;
}
li:hover .header__link-arrow-down {
  display: none;
  transition: 0.5s;
  z-index: 5;
}
li:hover .header__link-arrow-up {
  display: block;
  transition: 0.5s;
  z-index: 5;
}

/* ----- menu__option ----- */

.menu__option-link:hover {
  color: #f3b932;
}
.menu__options {
  position: absolute;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 0px 8px rgba(0.255, 255, 255, 0.25));
  top: 28px;
}
.menu__options::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 75px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid #ffffff;
  transform: rotate(90deg);
}
.menu__options-fund {
  left: -43px;
}
.menu__options-about {
  left: -39px;
}
.menu__option {
  font-weight: 500;
  font-size: 15px;
  line-height: 0.75;
  width: 160px;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.menu__option:only-child {
  border-bottom: 1px solid #ffffff;
}
.menu__option:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
.menu__option-link {
  color: #f6f6f6;
  text-align: center;
}

/* ===== Media ===== */

/* TABLET */
@media (max-width: 991.98px) {
  .header__list {
    width: 440px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  .header__container {
    height: 90px;
  }
  .header__nav {
    display: none;
  }
}