/* ===== sectors ===== */

.sectors__container {
  display: flex;
  gap: 100px;
  margin-top: 115px;
  margin-bottom: 146px;
}
.sectors {
  max-width: 846px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.sectors__head-title {
  font-family: 'NeoGram Extended ExtraBold';
  font-size: 60px;
  line-height: 81.6px;
  margin-bottom: 40px;
}
.sectors__desc-list {
  font-family: 'NeoGram Condensed Regular';
  font-size: 20px;
  line-height: 25.44px;
}
.sectors__desc:not(:last-child) {
  padding-bottom: 44px;
}

/* ===== Media ===== */

@media (max-width: 1439.98px) {
  .sectors__container {
    gap: 50px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  .sectors__container {
    flex-direction: column;
    gap: 100px;
    margin-top: 64px;
    margin-bottom: 146px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  .sectors__container {
    gap: 50px;
    margin-bottom: 80px;
  }
  .sectors__head-title {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 40px;
  }
  .sectors__desc-list {
    font-size: 18px;
    line-height: 23px;
  }
}
